<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <!-- <h1><%= title %></h1>
    <p>Welcome to <%= title %></p> -->
    
    <div class="main">
      <img class="logo" src="/images/booklogo.png" alt="book logo" />
      <h1>GBooks</h1>
      <span class="blurb">Powered by Google Books API</span>

      <form class="searchform" method="GET" action="/books/searchbooks">
        <input type="text" name="query" placeholder="Keyword..." />
        <input type="text" name="author" placeholder="Author..." />
        <input type="submit" />
      </form>
      <%
        console.log(books)
      %>
    </div>
    
  </body>
</html>
